.btn.blue {
  background-color: #ccece8 !important;
  /* padding: 12px 32px !important; */
}
.dropdown-menu.blue {
  background-color: #ccece8 !important;
}
.dropdown-menu.blue {
  background-color: #ccece8 !important;
}
.scrolling-wrapper {
    background-color: #fff;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scrolling-wrapper::-webkit-scrollbar { /* WebKit */
width: 0;
height: 0;
}
.selected_month {
border-top: none;
border-left: none;
border-right: none;
border-bottom: 3px solid #2b63c6;
font-weight: bold; color: #2b63c6;
}
.not_selected_month {
border-top: none;
border-left: none;
border-right: none;
border-bottom: none;
opacity: 0.2;
font-weight: bold; color: #2b63c6;
}
.selected_tab {
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid #fff;
}
.not_selected_tab {
border-top: none;
border-left: none;
border-right: none;
border-bottom: none;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
background-color: #f7fafb; 
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
background-color: #f0f6f8;
}
.table-striped>tbody>tr:nth-child(even).comp>td,
.table-striped>tbody>tr:nth-child(even).comp>th {
 background-color: #fafaee;
}
.table-striped>tbody>tr:nth-child(odd).comp>td,
.table-striped>tbody>tr:nth-child(odd).comp>th {
  background-color: #f5f5de;
}
.invisible {
display: none !important;
}
.goalTxt {
position: fixed;
bottom: 12%;
right: 7%;
left: 7%;
z-index: 10;
}
@media only screen and (min-device-width: 360px) and (orientation: landscape) {
/* CSS */
.goalTxt {
position: fixed;
bottom: 21%;
right: 7%;
left: 7%;
z-index: 10;
}
}

@media only screen and (min-device-width: 611px) and (min-device-height: 450px) and (orientation: landscape) {
/* CSS */
.goalTxt {
position: fixed;
bottom: 16%;
right: 7%;
left: 7%;
z-index: 10;
}
}
.navfix {
position: fixed;
bottom: 0;
z-index: 10;
}
.dropdown-menu {
/* min-width: 6rem; */
z-index: 10 !important;
margin-top: 10px !important;
border-radius: 18px !important;
}


.speech-bubble {
  position: relative;
  background: #fff;
  border-radius: .4em;
  padding-left: 10px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 80%;
  right: 20%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom:20px solid #fff;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.speech-bubble2 {
  position: relative;
  background: #dce0e3;
  border-radius: .8em;
}

.speech-bubble2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #dce0e3;
  border-top: 0;
  margin-left: -12px;
  margin-top: -10px;
}

.dropdown-toggle::after {
display:none !important;
}
.padding-0{
padding-right:0 !important;
padding-left:0 !important;
}
.navItem {
height: 66px;
}

.navItem.is-active {
margin-top: -10px;
/* margin-bottom: -10px; */
height: 76px;
background-color: #174493;
}
#swipeContainer {
margin-bottom: 0px !important;
}
#swipeContainer2 {
margin-bottom: 0px !important;
}
.imgSelColor{
filter: invert(80%) sepia(97%) saturate(414%) hue-rotate(324deg) brightness(401%) contrast(98%) !important;
}
.body {
background-color: #f0f6f8;
}
.comp_td {
background-color: #ffd00d !important;
color: #793800;
}
.incomp_td {
background-color: #2b63c6 !important;
color: #fff;
}
.selected_sort {
color: #2b63c6;
font-weight: bold;
}
.not_selected_sort {
color: #000;
font-weight: normal;
}
