div.c {
    text-align: right;
  }

  .wrapper{
        height:9rem;
        font-size: 15px;
        z-index: 9;
        background-color: #2b63c6;
    }


  .hr {
    border:none;
    border-bottom:1px dashed #e9d0af;
    color:black;
    text-decoration-color: #cbaca3;
    height:1px;
    width:50%;
  }
    div.sticky {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
      }

  .wid{
      width: 100%;
      height: 100%;

  }
  p.color{
      color:white;
  }
  .checked {
        color: orange;
      }

/* .btn.btn-lg {
  background-color: #ccece8 !important;
  /* padding: 12px 32px !important; */
/* }
.collectionsRow {
cursor: pointer;
}
@media only screen and (max-width: 768px) {
.col-3 {width: 25%;}
}
*/
.StepProgress {
position: relative;
padding-left: 40px;
list-style: none;
}
.StepProgress::before {
display: inline-block;
content: '';
position: absolute;
left: 15px;
width: 10px;
height: 0;
border-left: 2px solid #CCC;
}
.StepProgress-item {
position: relative;
counter-increment: list;
}
.StepProgress-itemStart {
position: relative;
counter-increment: list;
left: 4px;
}
.StepProgress-item2 {
position: relative;
counter-increment: list;
left: -3px;
}
.StepProgress-item:not(:last-child) {
padding-bottom: 12px;
}
.StepProgress-itemStart:not(:last-child) {
padding-bottom: 12px;
}
.StepProgress-item2:not(:last-child) {
padding-bottom: 10px;
}
.StepProgress-item::before {
display: inline-block;
content: '';
position: absolute;
top: 19px;
left: -31px;
height: 100%;
width: 10px;
border-left: 3px solid #cadcf6;
}
.StepProgress-item2::before {
display: inline-block;
content: '';
position: absolute;
top: 8px;
left: -32px;
height: 100%;
width: 10px;
}
.StepProgress-itemStart::before {
display: inline-block;
content: '';
position: absolute;
left: -35px;
height: 100%;
width: 10px;
border-left: 3px solid #cadcf6;
top: 20px;
z-index: 2
}
.StepProgress-itemStart.is-done::before {
display: inline-block;
content: '';
position: absolute;
left: -35px;
height: 100%;
width: 10px;
border-left: 3px solid #e68f00;
top: 20px;
z-index: 2;
padding-top: 0px;
}
.StepProgress-item::after {
content: '';
display: inline-block;
position: absolute;
top: 4px;
left: -37px;
width: 15px;
height: 15px;
padding: 5px;
border: 1px solid #cadcf6;
border-radius: 50%;
background-color: #cadcf6;
z-index: 3
}
.StepProgress-item2::after {
background-image: url('/storage/padometerscreen/star_blue.png');
content: '';
background-size: 20px 20px;
display: inline-block;
position: absolute;
top: 4px;
left: -37px;
width: 20px;
height: 20px;
/* width: 12px;
height: 12px;
border: 2px solid #CCC; */
/* border-radius: 50%; */
background-color: transparent;
}
.StepProgress-item2.is-done::after {
background-image: url('/storage/padometerscreen/star_yellow.png');
content: '';
background-size: 20px 20px;
display: inline-block;
position: absolute;
top: 2px;
left: -37px;
width: 20px;
height: 20px;
/* width: 12px;
height: 12px;
border: 2px solid #CCC; */
/* border-radius: 50%; */
background-color: transparent;
}
.StepProgress-itemStart::after {
background-image: url('/storage/padometerscreen/star_blue.png');
content: '';
background-size: 20px 20px;
display: inline-block;
position: absolute;
top: 2px;
left: -44px;
width: 20px;
height: 20px;
/* width: 12px;
height: 12px;
border: 2px solid #CCC;
border-radius: 50%; */
background-color: transparent;
}
.StepProgress-itemStart.is-done::after {
background-image: url('/storage/padometerscreen/star_yellow.png');
content: '';
background-size: 20px 20px;
display: inline-block;
position: absolute;
top: 2px;
left: -44px;
width: 20px;
height: 20px;
/* width: 12px;
height: 12px;
border: 2px solid #CCC;
border-radius: 50%; */
background-color: transparent;
}
.StepProgress-item.is-done::before {
display: inline-block;
content: '';
position: absolute;
top: 19px;
left: -31px;
height: 100%;
width: 10px;
border-left: 3px solid #e68f00;
}
.StepProgress-item.is-done::after {
content: '';
display: inline-block;
position: absolute;
top: 4px;
left: -37px;
width: 15px;
height: 15px;
padding-right: 9px;
border: 1px solid #e68f00;
border-radius: 50%;
background-color: #ffd00d;
z-index: 3
}
.StepProgress-item.current::before {
border-left: 3px solid #7ea8ef;
top: 19px;
}
.StepProgress-item.current::after {
content: "";
font-size: 10px;
color: #FFF;
text-align: center;
border: 1px solid #7ea8ef;
background-color: #7ea8ef;
top: 4px;
}
.StepProgress strong {
display: block;
}
.dist_t_p {
 width: 30px;
}

.speech-bubble {
position: relative;
background: #cadcf6;
border-radius: .2em;
}

.speech-bubble:after {
content: '';
position: absolute;
top: 10px;
left: 0;
width: 0;
height: 0;
border: 3px solid transparent;
border-top-color: #cadcf6;
border-top: 4px solid transparent;
border-bottom: 4px solid transparent;

border-right:10px solid #cadcf6;
margin-left: -12px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 10px;
}
.dd {
position: absolute;
}
.dist_t {
text-align: right !important;
}
.right_t {
line-height: 0.8;
}
.navfix {
 position: fixed;
 bottom: 0;
 left: 0;
 z-index: 10;
}
.navItem {
   height: 66px;
}

.navItem.is-active {
   margin-top: -10px;
   /* margin-bottom: -10px; */
   height: 76px;
   background-color: #174493;
    border-radius: 5px
}